<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="cufon-active cufon-ready">
<head>
{% block meta %}
<title>Auction</title> {% endblock %}
<link rel="stylesheet" href="{{STATIC_URL}}css/main-ltr.css" type="text/css" media="screen" />
{% block styles %} {% endblock %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cufon.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Museo_Sans_100_250.font.js"></script>
<script>
	Cufon.replace('.title h3');
</script>

{% block scripts %} {% endblock %}
</head>
{% load i18n %}
<body>
	<div id="header">
		<div id="header-content">
			<div id="nav">
				<ul>
                    <li><a href="/">Home</a></li>
					<li>{% trans "How it Works?" %}</li> {% if not user.is_authenticated %}
					<li><a href="/register/">Register</a><span class="arrow">&rarr;</li> 
					{% else %}
					<li><a href="/logout_view/">Logout</a><span class="arrow">&rarr;</li> 
					{% endif %}
				</ul>
			</div>
			<p class="slogan">Auction</p>
		</div>
	</div>
	<div id="wrapper">
		<div id="loginwrapper" style="height: 200px;min-height: 200px;">
			<div id="login"style="height: 125px;">			
				<form action="." method="post">
				{%  csrf_token %}
					<p>
					<font color="#f3592a">{{ form.email.errors }}</font>
						<span class="field"> <input id="id_email" type="text" name="email" maxlength="75" placeholder="{% trans 'Email' %}" class="input-xlarge" style="height:30px;" value="{% if form.email.value %}
                        {{ form.email.value }}
                    {% endif %}"/>
						</span>
					</p>
					<div class="submitdiv">
						<input type="submit" value="Reset Password">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
