html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

* {
	color: #424242;
}

#wrapper {
	background: none repeat scroll 0 0 white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 13px black;
	display: table;
	margin: 0 auto;
	width: 1000px;
}

div#side {
	background: none repeat scroll 0 0 #FAFAFA;
	border-bottom-right-radius: 10px;
	border-left: 1px solid #BDBDBD;
	float: right;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

.ltr div#side {
	float: left
}

div.pic {
	border: 1px solid #BDBDBD;
	margin: 20px auto 0;
	padding: 5px;
	text-align: center;
	width: 200px;
}

div.rating {
	border: 1px solid #BDBDBD;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	width: 200px;
}

div.rating span {
	display: inline-block;
}

div.pic img {
	height: auto;
	width: 200px;
}

div#content {
	float: left;
	width: 749px;
}

div#services,div#districts,div#contact,div#about,div#reviews {
	margin: 50px 20px;
}

div#info {
	border-bottom: 1px solid #D8D8D8;
	overflow: auto;
	padding: 30px;
}

.right,.ltr .left {
	float: right;
}

.left,.ltr .right {
	float: left;
}

#rev_link {
	background: #ddd;
	padding: 10px;
	margin: 10px;
}

.box {
	border-right: 1px solid #D8D8D8;
	overflow: auto;
	padding: 10px;
	text-align: right;
}

.ltr .box {
	border-right: 0px;
	border-left: 1px solid #D8D8D8;
}

.ltr .box {
	text-align: left;
}

.servicebox {
	background: none repeat scroll 0 0 #F8E0E0;
	border: 1px solid #D8D8D8;
	border-radius: 10px 10px 10px 10px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 20px;
}

.ltr .servicebox {
	float: left;
}

.servicebox span h4,.districtbox span h4 {
	display: inline;
	margin: 0 auto;
}

.servicebox span,.districtbox span {
	margin: 0 auto;
}

.servicebox img {
	left: 10px;
	position: absolute;
	top: 10px;
}

.districtbox {
	background: none repeat scroll 0 0 #F1F8E0;
	border: 1px solid #D8D8D8;
	border-radius: 10px 10px 10px 10px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 20px;
}

.ltr .districtbox {
	float: left;
}

.ltr div#content {
	float: right;
}

#wrapper #content {
	background-color: #FFFFFF;
	border: 1px solid #A6A196;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	min-height: 1000px;
	padding: 0;
}

.glass {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px 4px 4px 4px;
	margin-top: -50px;
	overflow: auto;
	padding: 3px;
	position: relative;
	width: 1000px;
	top: 0;
}

#wrapper #content {
	border: medium none transparent;
	border-radius: 0 0 0 0;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
}

textarea {
	margin: 10px;
	width: 749px;
}